## Подключение к БД

In [ ]:
!pip install sqlalchemy
!pip install psycopg2

In [2]:
from sqlalchemy import create_engine, Column, Integer, String, text
from sqlalchemy.orm import sessionmaker
from sqlalchemy.orm import declarative_base
from sqlalchemy import MetaData
from sqlalchemy import Table, select, insert, update, delete, func
from sqlalchemy import case, literal_column

login = 'postgres'
password = 'postgres'
engine = create_engine(f'postgresql://{login}:{password}@localhost/postgres')
schema_name = 'league_of_pharmacist'

metadata = MetaData()
metadata.reflect(bind=engine, schema=schema_name)
table_names = metadata.tables.keys()

In [3]:
users_table = Table('users', metadata, autoload=True, autoload_with=engine, schema=schema_name)
transactions = Table('transactions', metadata, autoload=True, autoload_with=engine, schema=schema_name)
events = Table('events', metadata, autoload=True, autoload_with=engine, schema=schema_name)
event_types = Table('event_types', metadata, autoload=True, autoload_with=engine, schema=schema_name)
bets = Table('bets', metadata, autoload=True, autoload_with=engine, schema=schema_name)
ratios = Table('ratios', metadata, autoload=True, autoload_with=engine, schema=schema_name)

## Красивое отображение таблицы

In [4]:
def write_select(columns, rows, _len_):
    print("|","|".join(columns),"|")
    print("-"*((_len_+1)*len(columns)+2))
    for row in rows:
        print("|","|".join([str(i).ljust(_len_) for i in row] ),"|")

## Select запрос к таблице users

In [5]:
columns = [
    users_table.c.name,
    users_table.c.surname,
    users_table.c.sex,
    users_table.c.birthdate,
    users_table.c.registration_date,
    users_table.c.city
]
header = [
    str(column.key).ljust(17)
    for column in columns
]
select_query = select(*columns)
with engine.connect() as conn:
    result = conn.execute(select_query)
write_select(header, result, 17)

| name             |surname          |sex              |birthdate        |registration_date|city              |
--------------------------------------------------------------------------------------------------------------
| John             |Doe              |male             |1990-05-15       |2023-01-01       |New York          |
| John             |Doe              |male             |1985-07-12       |2022-03-25       |New York          |
| Alice            |Johnson          |female           |1990-11-30       |2022-05-18       |London            |
| Michael          |Smith            |male             |1978-04-05       |2022-02-10       |Sydney            |
| Anna             |Brown            |female           |1995-09-22       |2022-07-29       |Paris             |
| David            |Lee              |male             |1989-12-17       |2022-08-14       |Tokyo             |
| Maria            |Garcia           |female           |1980-03-28       |2022-09-05       |Madrid            |
| Alex             |Nguyen           |male             |1992-06-08       |2022-11-19       |Berlin            |
| Sofia            |Kim              |female           |1987-01-14       |2022-10-02       |Seoul             |
| James            |Wang             |male             |1983-08-03       |2022-12-07       |Beijing           |
| Lily             |Chen             |female           |1998-05-10       |2023-01-15       |Shanghai          |
| Michael          |Jordan           |male             |1963-02-17       |2023-12-22       |Moscow            |
| John             |Clinton          |male             |2000-02-17       |2023-12-22       |Boston            |

## Insert запрос к users

In [6]:
insert_query = insert(users_table).values(
        name='Oleg',
        surname='Terentev',
        sex='male',
        passport ='1234 123233',
        birthdate='2002-10-22',
        registration_date='2023-12-22',
        city='Saint Petersburg',
        mail='oeterentev@edu.hse.ru',
        phone_number='8-911-032-23-63'
    )
with engine.connect() as conn:
    conn.execute(insert_query)

## Update запрос к users

In [9]:
update_query = update(users_table).where(users_table.c.user_id == '14').values(phone_number='8-911-111-11-12')
with engine.connect() as conn:
    conn.execute(update_query)

## Delete запрос к users

In [10]:
delete_query = delete(users_table).where(users_table.c.user_id == '14')
with engine.connect() as conn:
    conn.execute(delete_query)

## Запрос на подсчет количества пользователей определенного пола в каждом городе:

In [11]:
query = select(
    users_table.c.city,
    users_table.c.sex,
    func.count().label('user_count')
).group_by(users_table.c.city, users_table.c.sex)

with engine.connect() as conn:
    result = conn.execute(query)
write_select([i.ljust(17) for i in ['Город','Пол','Количество']], result, 17)

| Город            |Пол              |Количество        |
--------------------------------------------------------
| Moscow           |male             |1                 |
| Sydney           |male             |1                 |
| Beijing          |male             |1                 |
| Paris            |female           |1                 |
| Shanghai         |female           |1                 |
| New York         |male             |2                 |
| London           |female           |1                 |
| Berlin           |male             |1                 |
| Seoul            |female           |1                 |
| Boston           |male             |1                 |
| Madrid           |female           |1                 |
| Tokyo            |male             |1                 |

## Запрос на количество ставок по каждому событию

In [12]:
event_statistics_query = (
    select(
        events.c.event_name,
        event_types.c.name.label('event_type_name'),
        func.count(bets.c.bet_id).label('total_bets'),
        func.coalesce(func.sum(bets.c.amount), 0).label('total_bet_amount'),
        func.sum(
            case(
                (ratios.c.is_lost == False, bets.c.amount),
                else_=literal_column('0')
            )
        ).label('total_winnings')
    )
    .select_from(
        events
        .join(event_types, events.c.event_type_id == event_types.c.event_type_id)
        .outerjoin(bets, events.c.event_id == bets.c.event_id)
        .outerjoin(ratios, (bets.c.event_id == ratios.c.event_id) & (bets.c.acceptable_condition_id == ratios.c.acceptable_condition_id))
    )
    .group_by(events.c.event_id, events.c.event_name, event_types.c.name)
)

with engine.connect() as conn:
    result = conn.execute(event_statistics_query)
write_select([i.ljust(25) for i in ['event_name','event_type_name', 'total_bets','total_bet_amount','total_winnings']], result, 25)

| event_name               |event_type_name          |total_bets               |total_bet_amount         |total_winnings            |
------------------------------------------------------------------------------------------------------------------------------------
| Барселона - Зенит        |Футбол                   |6                        |2600.0                   |0.0                       |
| СКА vs. Авангард         |Хоккей                   |0                        |0.0                      |0.0                       |
| Зенит vs. Рубин          |Футбол                   |3                        |1050.0                   |0.0                       |
| game test                |Футбол                   |0                        |0.0                      |0.0                       |
| Локомотив vs. СКА        |Хоккей                   |0                        |0.0                      |0.0                       |
| Бой Кличко vs. Бой Джошуа|Бокс                     |0                        |0.0                      |0.0                       |
| Финал турнира по теннису |Теннис                   |0                        |0.0                      |0.0                       |
| Спартак vs. ЦСКА         |Футбол                   |5                        |1300.0                   |0.0                       |
| Открытый чемпионат по теннису: С. Уильямс vs. Н. Осака|Теннис                   |5                        |1250.0                   |0.0                       |
| Бой Али vs. Бой Фрейзера |Бокс                     |3                        |620.0                    |0.0                       |
| Игра для теста №1        |Футбол                   |3                        |2200.0                   |1600.0                    |
| Локомотив vs. Динамо     |Футбол                   |5                        |1250.0                   |0.0                       |
| Динамо vs. Спартак       |Хоккей                   |0                        |0.0                      |0.0                       |